* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #282C33;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

p {
    font-size: 24px;
    min-height: 30px;
}