* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    /* Default Light Mode as per instructions implying change to Dark */
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}