* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #282C33;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.traffic-light {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #555;
    /* Default off state */
    transition: background-color 0.3s;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}